*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15pt;
    background-color: #5C5C5C;
}
.game-box{
    width: 95%;
    margin:10px auto 0 auto;
    background-color: white;
    border-radius: 13px;
    padding: 15px;
}
.head{
    position: relative;
}
.head>h1{
    text-align: center;
    margin-bottom: 6px;
    font-size: 24px;
}
.end-screen{
    position: absolute;
    z-index: 1;
    width: 100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777777B0;
    color: whitesmoke;
    font-size: 50px;
    backdrop-filter: blur;
}
.card-contain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}
.img_box{
    width: 110px;
    height: 137px;
    border-radius:8px;
    box-shadow: 2px 3px 6px #868686E6;
    position: relative;
    transform-style: preserve-3d;
    transition: transform ease-in 0.6s; 
    border: 1px solid black;
}
.img,.img-back{
    position:absolute ;
    width: 100%;
    height: 100%;
    border-radius:8px;
    backface-visibility: hidden; 
}
.img-back{
    background: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transform: rotateY(0deg);
}
.foot{
    width: 100%;
    margin: 20px 0 0 0;
}
.btn{
    display: block;
    margin: auto;
    width: 140px;
    height: 46px;
    border-radius: 14px;
    border: 1px solid darkgray;
    box-shadow: 2px 2px 4px #868686;
    background-color: #0A0822;
    font-size: 17px;
}
.game-stats{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-weight: 550;
}
